<div class="container-fluid main">
	<div class="row top">
        <div class="col-xs-12 left">
			<a href="./" [routerLink]="['/']">
				<img class="back" src="./images/left-arrow.svg">
			</a>
        </div>
    </div>
    <div class="row content">
		<div class="hidden-xs col-sm-1">
			<!--<img class="avatar" src="./images/avatar1.svg">-->
			<object class="avatar" data="./images/avatar1.svg" type="image/svg+xml"></object>
		</div>
        <div class="col-xs-12 col-sm-10">
			<div class="row">
		        <div class="col-xs-12">
		            <a [href]="'/post/' + post._id" [routerLink]="['/post/' + post._id]"><h3>{{post.title}}</h3></a>
		        </div>
				<div class="col-xs-12">
		            {{post.publishedDate | date}} by {{post.author.alias}}
		        </div>
				<div class="col-xs-12">
		            <div [innerHTML]="content" class="viewer"></div>
		        </div>
		    </div>
        </div>
    </div>
</div>
