<div class="container-fluid main">
	<div class="row top">
		<div class="col-xs-12">
			<div class="title">
				<b>Media</b>
			</div>
			<div class="right">
				<a href="javascript:void(0)" (click)="selectTab(1)">Uploader</a>
				<a href="javascript:void(0)" (click)="selectTab(2)">Media</a>
			</div>
		</div>
	</div>
	<div *ngIf="tab === 1" class="row">
		<div class="col-xs-12 col-md-9">
			<div ng2FileDrop [ngClass]="{'file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well drop-zone">
				<div *ngIf="uploader.queue.length === 0" class="center">
					Arrastra aquí tu archivo o seleccionalo:
					<input type="file" ng2FileSelect [uploader]="uploader" />
				</div>
				<div *ngIf="uploader.queue.length > 0" class="center">
					<img [src]="uploaderImage" class="preview">
					<div class="row">
						<div class="col-xs-12">
							{{ uploader.queue[0].file.name }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-3">

			<div *ngIf="uploader.queue.length > 0">
				Nombre: {{ uploader.queue[0].file.name }}
				<br>
				Tamaño: {{ bytesToSize(uploader.queue[0].file.size) }}
				<br>
				<button class="btn btn-default" type="submit" (click)="uploader.queue[0].upload()">Guardar</button>
				<button class="btn btn-default" type="submit" (click)="clear()">Clear</button>
				<div class="progress" style="">
					<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
				</div>
			</div>
		</div>

	</div>
	<div *ngIf="tab === 2" class="row">
		<div class="col-xs-9">
			<div class="row">
				<div *ngFor="let file of media" class="col-xs-4 item">
					<div (click)='selected(file._id)' class="responsive-square"  [ngClass]="{'selected': file.selected}">
						<div class="square-content">
							<img class="img-responsive" [src]="fileImage(file)">
						</div>
						<div *ngIf="!isImage(file.mimeType)" class="file-name">
							{{file.name}}
						</div>
						<a href="javascript:void(0)" (click)="remove(file._id)">
							<img src="./images/waste-bin-white.svg" class="bin">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<button class="btn btn-default" type="submit" (click)='select()'>Seleccionar</button>
		</div>
	</div>
</div>