<div class="container-fluid">
	<div class="row top">
		<div class="col-xs-12">
			<div class="title">
				<h3>Usuarios</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<h4>Nombre</h4>
		</div>
		<div class="col-xs-3">
			<h4>E-mail</h4>
		</div>
		<div class="col-xs-3">
			<h4>Roles</h4>
		</div>
		<div class="col-xs-3">
			<h4>Acciones</h4>
		</div>
	</div>
	<div *ngFor="let user of users" class="row user">
		<div class="col-xs-3">
			<a [href]="'/admin/users/editor/' + user._id" [routerLink]="['/admin/users/editor/' + user._id]">
				<p>{{user.name}}</p>
			</a>
		</div>
		<div class="col-xs-3">
			<p>{{user.email}}</p>
		</div>
		<div class="col-xs-3">
			<p>{{user.roles}}</p>
		</div>
		<div class="col-xs-3">
			<a [href]="'/admin/users/editor/' + user._id" [routerLink]="['/admin/users/editor/' + user._id]">Editar</a>
		</div>
	</div>
</div>