<navbar></navbar>
<div class="main">
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<div class="footer">
		<div class="left contact">
			Contáctanos
			<br>
			915 49 57 00
			<br>
			Extensión: 2435
			<br>
			info@ieeesb.es
		</div>
		<div class="right icons">
			<a href="https://github.com/Repo-IEEEsb">
				<img class="icon" src="./images/github-logo.svg">
			</a>
			<a href="https://trello.com/b/XIKmeaaT/madrid-upm-etsi-de-telecomunicacion">
				<img class="icon" src="./images/trello-logo.svg">
			</a>
			<a href="https://twitter.com/ieeesb">
				<img class="icon" src="./images/twitter-logo.svg">
			</a>
			<a href="https://www.facebook.com/IeeeSbMadrid/">
				<img class="icon" src="./images/facebook-logo.svg">
			</a>
			<a href="https://www.youtube.com/channel/UCKLhZucMAeQ9MuQwLN5rm1A">
				<img class="icon" src="./images/youtube-logo.svg">
			</a>
		</div>
	</div>
</div>