.loader {
	border: 16px solid #bfbfbf;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrap {
	position: fixed;
	z-index: 100000;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
}

.main {
	padding: 15px;
}

.items {
	margin-top: 10px;
}

.item {
	margin-top: 20px;
	font-family: 'Helvetica';
	border-radius: 5px;
	padding: 15px;
	padding-top: 10px;
	background-color: white;
}

.name {
	text-align: center;
	margin-bottom: 5px;
	font-size: 18px;
	& div {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.icon {
	margin-bottom: 5px;
}

.responsive-square{
	text-align:left;
	position:relative;
	width:100%;
	border-radius: 5px;
}

.responsive-square:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.responsive-square .square-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.img-responsive {
	height: 100%;
	margin-bottom: 5px;
	width: 100%;
	object-fit: cover;
}

.info {
	margin-bottom: 5px;
	font-size: 18px;
	& .center {
		display: block;
		text-align: center;
	}
}

.left {
	float: left;
	display: block;
}

.right {
	float: right;
	display: block;
}

.bin {
	width: 20px;
	height: 20px;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.messages {
	position: fixed;
	top: 100px;
	z-index: 2000;
	left: 50%;
	transform: translate(-50%, 0);
}