<div class="container-fluid main" >
	<div class="row" >
		<div class="col-xs-12" *ngFor="let post of pagePosts; let i = index;">
			<div class="hidden-xs col-sm-2">
				<object class="avatar" [attr.data]="'./images/avatar' + (i + 1) + '.svg' | safeUrl" type="image/svg+xml"></object>
			</div>
			<div class="col-xs-12 col-sm-10 post" *ngIf="post.published">
				<a [href]="'/post/' + post._id" [routerLink]="['/post/' + post._id]"><h4>{{post.title}}</h4></a>
				<p [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.excerpt)"></p>
				<hr/>
			</div>
		</div>

	</div>
	<pagination [itemsPerPage]="perPage" [totalItems]="posts.length" [(ngModel)]="currentPage" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>