<loader [enabled]="loading"></loader>
<div class="container-fluid main">
	<div *ngIf="!adminLogged" class="row pass-container">
		<form (ngSubmit)="loginAdmin()">
			<div class="form-group">
				<label class="control-label col-xs-3 col-xs-offset-2" for="password">Introduce la contraseña de administrador:</label>
				<div class="col-xs-3">
					<input type="password" [(ngModel)]='password' name='password' class='form-control'>
				</div>
				<button class="btn btn-md btn-primary col-xs-2" type='submit'>Login</button>
			</div>
		</form>
	</div>
	<div *ngIf="adminLogged" class="row pass-container">
		<form (ngSubmit)="loginUser()">
			<div class="form-group">
				<label class="control-label col-xs-3 col-xs-offset-2" for="code">Introduce tu contraseña:</label>
				<div class="col-xs-3">
					<input type="password" [(ngModel)]='code' name='code' class='form-control' #passwordInput>
				</div>
				<button class="btn btn-md btn-primary col-xs-2" type='submit'>Login</button>
			</div>
		</form>
	</div>
</div>