<div class="container-fluid main navbar-default">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2 sidebar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./" [routerLink]="['/']">
					<span><img src="./images/logo_ieee.png" width="40px" height="40px" alt="Logo IEEESB" /></span> IEEESB
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a *ngIf="user && user.roles.includes('ieee')" href="./admin/posts" [routerLink]="['/admin/posts']">Noticias</a>
					</li>
					<li>
						<a *ngIf="user && user.roles.includes('admin')" href="./admin/inventory" [routerLink]="['/admin/inventory']">Inventario</a>
					</li>
					<li>
						<a *ngIf="user && user.roles.includes('admin')" href="./admin/users" [routerLink]="['/admin/users']">Usuarios</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
