<loader [enabled]="loading"></loader>
<div class="row block">
    <div class="jumbotron col-xs-12 col-lg-3 center-block">
        <h3 class="title" i18n>Resetear Contraseña</h3>
        <form class="" role="form" (ngSubmit)="restore()" #loginForm="ngForm">
            <div class="form-group">
                <input [(ngModel)]='alias' name='alias' class='form-control' i18n-placeholder placeholder="Alias">
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <input type='email' [(ngModel)]="email" name='email' class='form-control' i18n-placeholder placeholder="E-mail">
            </div>
			<button type="submit" class="submit" i18n>Resetear</button>
            <div class="row separator"></div>

            <div class="row">
                <div class="col-xs-12">
                    <a class="pull-right" href="#" [routerLink]="['/login']" i18n>Login</a>
                </div>
            </div>
        </form>
    </div>
</div>