<loader [enabled]="loading"></loader>
<div class="row block">
	<div class="jumbotron col-xs-12 col-lg-3 center-block">
		<h3 class="title" i18n>Registrarse</h3>
		<form class="" role="form" (ngSubmit)="register()" #registerForm="ngForm">
			<div class="form-group">
				<input required [(ngModel)]='data.alias' name='alias' class='form-control' i18n-placeholder placeholder="Alias*">
			</div>
			<div class="form-group">
				<input required [(ngModel)]='data.name' name='name' class='form-control' i18n-placeholder placeholder="Nombre*">
			</div>
			<div class="form-group">
				<input required type='email' [(ngModel)]='data.email' name='email' class='form-control' i18n-placeholder placeholder="E-mail*">
			</div>
			<div class="form-group">
				<input required type='password' [(ngModel)]="data.password" name='password' class='form-control' i18n-placeholder placeholder="Contraseña*">
			</div>
			<div class="form-group">
				<input required type='password' [(ngModel)]="confirmedPassword" name='confirmedPassword' class='form-control' i18n-placeholder placeholder="Repetir Contraseña*">
			</div>
			<div class="form-group">
				<input type='number' [(ngModel)]="data.ieee" name='ieee' class='form-control' i18n-placeholder placeholder="Nº IEEE">
			</div>
			<div *ngIf="!confirmPassword()" i18n>Las contraseñas no coinciden</div>

			<button type="submit" class="submit" [ngClass]="{'disabled': !confirmPassword()}" [disabled]="!confirmPassword()" i18n>Registrarse</button>
            <div class="row separator"></div>
		</form>
	</div>
</div>