<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" [routerLink]="['/']">
				<span><img src="./images/logo_ieee.png" width="40px" height="40px" alt="Logo IEEESB" /></span>
				<div class="visible-md-inline-block visible-lg-inline-block"> IEEESB Madrid</div>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="./" [routerLink]="['/']" i18n><span class="glyphicon glyphicon-home"></span> Inicio</a>
				</li>
				<li>
					<a href="http://ieeesb.es/wiki" target="_blank" i18n>Wiki</a>
				</li>
				<li *ngIf="user && user.roles.includes('ieee')">
					<a href="./inventory" [routerLink]="['/inventory']" i18n>Inventario</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="user && user.roles.includes('ieee')">
					<a i18n>Saldo: {{user.money | currency:'EUR':true:'1.2-2'}}</a>
				</li>
				<li *ngIf="!user">
					<a href="./login" [routerLink]="['/login']" i18n>Login</a>
				</li>
				<li *ngIf="!user">
					<a href="./register" [routerLink]="['/register']" i18n>Regístrate</a>
				</li>
				<li *ngIf="user">
					<a href="./profile" [routerLink]="['/profile']" i18n>Perfil</a>
				</li>
				<li *ngIf="user && user.roles.includes('admin')">
					<a href="./admin" [routerLink]="['/admin']" i18n>Administrar</a>
				</li>
				<li *ngIf="user">
					<a href="javascript:void(0)" (click)="logout()" i18n>Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
