<header class="header">
	<video  *ngIf="width>768" class="video" autoplay="autoplay" loop="loop" preload="auto" >
		<source src="./videos/intro.mp4" type="video/mp4" />
		Your browser does not support HTML5 video.
	</video>
	<img *ngIf="width<=768" class="wallpaper" src="./images/wallpaper.jpg">
	<div class="header-space"></div>
	<div class="header-title" i18n>
		Rama Universitaria Del IEEE de Madrid
	</div>
	<span class="glyphicon glyphicon-arrow-down header-arrow">
	</span>
</header>
<div class="container-fluid main">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">
					<h1 class="line-up" i18n>Noticias</h1>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
					<posts perPage="5"></posts>
				</div>
			</div>
		</div>
	</div>
	<div class="row who">
		<div class="col-xs-12 col-sm-7 col-md-8 col-lg-6 col-lg-offset-2 who-text" i18n>
			Fundada en 1965, la rama de estudiantes del IEEE de la Escuela Técnica Superior de Telecomunicaciones de la UPM tiene por objetivo el acercamiento de los estudiantes a la tecnología eléctrica, electrónica y del software, y el desarrollo de la creatividad e innovación para solventar problemas cotidianos haciendo uso de lo aprendido.
			<div>
			</div>
			<div>Ensayo y error! ese es el espíritu del IEEE. En los últimos 5 años se han hecho más de 3 prototipos tecnológicos por año; pasando por tricópteros diseñados en madera, ABS o fibra de vidrio, impresoras 3D, lentes de realidad virtual... hasta sistemas de apertura via App de cerraduras.</div>
			<div>Y siempre queda el reto de legar a cada nueva generación lo aprendido. Con cursos impartidos por alumnos y para alumnos, el club ha conseguido convertirse en uno de los más prolíficos y antiguos de toda Europa haciendo del IEEE una orgullosa filosofía de aprendizaje</div>
			<div></div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 who-title">
			<h1 class="line-up" i18n>Quiénes Somos</h1>
		</div>
	</div>
	<div class="row where">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-5 where-map">
					<agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="zoom">
						<agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
					</agm-map>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-6 col-lg-offset-1 where-text" i18n>
					Puedes encontrarnos en la ETSIT-UPM en el pasillo de clubes.
					<div></div>
					Avenida Complutense 30, 28040, Madrid.
					<div></div>
					Escuela de Telecomunicaciones, Edificio A 101.4L
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-5  where-title">
					<h1 class="line-up-white" i18n>Dónde Estamos</h1>
				</div>
			</div>
		</div>
	</div>
</div>